## Introduction


**Project description**: lorem ipsum:  

On [this link (Kaggle)](https://www.kaggle.com/anthonypino/melbourne-housing-market/version/27) you can find the original dataset and its description.

*Project owner*: ***Gustaf Olofsson***

## Import packages and Load Data from CSVs

In [11]:
import pandas as pd
import numpy as np
import os

dir_path = os.path.dirname(os.path.realpath('__file__'))
raw_data = pd.read_csv(dir_path+"\\MELBOURNE_HOUSE_PRICES_LESS.csv")

# test that data loaded correctly
raw_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council

## Finding blanks or unexpected values

In [24]:
print("There are {} rows in the raw data.".format(len(raw_data.index)))

def print_unique(df, attribute):
    print("Unique vales of '{}': {}".format(getattr(df, attribute).name, getattr(df, attribute).unique()))
    return 0

print("There are {} rows in the raw data with null values".format(len(raw_data[raw_data.isnull().any(axis=1)].index)))

There are 63023 rows in the raw data.
There are 14590 rows in the raw data with null values

In [27]:
# As we will still have ~50k entries to work with, let's drop the rows with any null values
cleaned_data = raw_data.dropna(axis=0, how = 'any', inplace = False)

# Testing so the length of our new dataset aligns with expectations
len(cleaned_data.index)

48433

## SECTION TITLE

## SECTION TITLE

## SECTION TITLE

## SECTION TITLE